.navlink{
    margin-left:32px;
    margin-top:32px;
    text-decoration:none;
    color:#fff;
    font-size:30px;
    font-weight: 600;
    
    @media screen and (max-width:480px){
        margin-left:16px;
        margin-top:8px;
    }
}