.welcome {
  text-align: center;
  margin: auto;
  color:#000;
  
}

.logo {
  text-align: left;
  color:#000;

}

.hero {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(180deg,rgb(77, 77, 77)0%,rgb(38, 38, 38)100%);
  }
  
  .hero nav {
    background: #01bf71;
    width: 100%;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: radial-gradient(#e66465, #9198e5);
  }

  
  .hero nav button {
    width: 86px;
    padding: 8px 0;
    background: #000;
  }
  .button {
    display: block;
    width: 150px;
    height: 50px;
    background: #809fff;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 28px;
    text-decoration: none;
    z-index: 5;
    font-size: 25px;
}
  